body{
    background-color: #e6e6e6 !important;
}

/* modelo */
/* .container-modelos{
    min-width: 300px;
    margin: auto;
} */
.adicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-top: -10px;
}

.adicionar .btn{
    padding: 0;
    border: 0;
}

.modelo{
    display: none !important;
}

.imagem{
    width: 50%;
}

 /* modal */
 .modal-dialog {
    max-width: 900px !important;   
 }
 .modal-body{
    margin: 30px 0px;
    padding: 0 10px !important;
 }
 .img-modal{
    width: 50%;
    margin-right: 35px;
 }
 .container--modal{
    width: 100%;
 }
 .text-muted{
    display: block;
    margin-bottom: 10px;
 }
 .preco .valor--pizza{
    /* margin-top: 20px; */
    font-weight: bolder;
    font-size: 1.2em;
 }
.tamanhoP,
.tamanhoM,
.tamanhoG{
    text-align: start !important;
    width: 40%;
    height: 30px;
    font-size: 0.8rem;
    line-height: 24px;
    background-color: rgb(186, 188, 194);
    border: 1px solid #e6e6e6;
    cursor: pointer;
}
.tamanhoP{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.tamanhoG{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tamanhoP:hover,
.tamanhoM:hover,
.tamanhoG:hover{
    background-color: rgb(143, 144, 148);
}
.active{
    background-color: rgb(5, 152, 250);
    font-weight: 600;
    color: #fff;
}
.active:hover{
    background-color: rgb(5, 152, 250);
}

.qt--Pizza,
.car--qt{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 5px;
    background-color: rgb(163, 223, 223);
}
.menos,
.mais,
.qt--num{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 15px;    
}

.menos{
    border-right: solid 1px #fff;
    line-height: 28px;
    cursor: pointer;
}
.mais{
    border-left: solid 1px #fff;
    line-height: 28px; 
    cursor: pointer;
}

.modal-footer{
    flex-wrap: nowrap !important; 
}
/*canvas janela lateral*/
.btn-close{
    font-size: 1.2rem  !important;
}

.offcanvas-body{
    font-size: 2rem;
}
.subtotal,
.desconto,
.total{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #000;
    
}
.btn_finalizar{
    width: 80%;
    height: 50px;
    font-size: 1.3rem !important;
    margin-top: 50px;
}
.canvas--img{
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 40px;
}

.car--img{
    align-items: center !important;
    width: 20%;
}    

.car--qt{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30%;
    padding: 0 5px;
    background-color: #fff;
}

.car--menos,
.car--mais,
.car--num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
  
}

.car--menos{
    border-right: solid 1px #cccbcb;
    line-height: 28px;
    cursor: pointer;
}

.car--mais{
    border-left: solid 1px #cccbcb;
    line-height: 28px; 
    cursor: pointer;
}