body{
    background-color: #e6e6e6 !important;
}

/* modelo */
/* .container-modelos{
    min-width: 300px;
    margin: auto;
} */
.adicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-top: -10px;
}

.adicionar .btn{
    padding: 0;
    border: 0;
}

.modelo{
    display: none !important;
}

.imagem{
    width: 50%;
}

 /* modal */
 .modal-dialog {
    max-width: 700px !important;
   
 }
 .modal-body{
    margin: 30px 0px;
    padding: 0 10px !important;
 }
 .img-modal{
    width: 50%;
    margin-right: 35px;
 }
 .container--modal{
    width: 100%;
 }
 .text-muted{
    display: block;
    margin-bottom: 10px;
 }
.tamanhoP,
.tamanhoM,
.tamanhoG{
    text-align: start !important;
    width: 40%;
    height: 30px;
    /* padding: 4%; */
    font-size: 0.8rem;
    line-height: 24px;
    background-color: rgb(99, 140, 250);
    border: 1px solid #e6e6e6;
}
.tamanhoP{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.tamanhoG{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tamanhoP,
.tamanhoM,
.tamanhoG:hover{
    cursor: pointer;
}

.modal-footer{
    flex-wrap: nowrap !important;
}